<html>
    <head></head>
    <body>
        <h1>Compose New Message</h1>
        <form method="POST" action="/new">
            <label style="display: block">
                Author
                <input style="display: block" type="text" name="authorName" id="authorName">
            </label>
            <label style="display: block">
                Message Body
                <textarea style="display: block" name="messageText" id="messageText"></textarea>
            </label>
            <button style="margin-top: 10px; cursor: pointer" type="submit">Post Message</button>
        </form>
    </body>
</html>
